#index-projects {
    margin-bottom: 5px;
}

.project-item {
    border-color: rgba(0, 0, 0, 0.5);
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    padding-left: 1rem;
    padding-right: 7px;
    padding-top: 1rem;
    padding-bottom: 0px;
    margin-bottom: 1rem;
}

.project-item:hover{
    background-color: rgba(209, 209, 209, 1);
}
.project-title {
    font-size: 1.2rem;
    color:  rgba(0, 0, 0, 0.8);
    text-decoration: underline;
}
.project-title:hover {
    color: rgba(0, 0, 0, 1);
}