@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "circular";
    src: url('CircularStd-Medium.woff');}

@keyframes text-render{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes text-render-smaller{
    from{opacity:0; font-size: 1.75rem;}
    to{opacity:1; font-size: 1rem;}
}
@keyframes text-render-media{
    from{opacity:0; font-size: 1.5rem;}
    to{opacity:1; font-size: 1rem;}
}
@keyframes text-render-article{
    from{opacity:0;}
    to{opacity:1;}
}
@keyframes text-interact{
    0%{font-size:1.75rem;}
    50%{font-size:2.2rem;}
    100% {font-size:1.75rem;}
}
@keyframes fadeout{
    from{opacity:1;}
    to{opacity:0;}
}

.right-title-letter{
    transition: 0.15s;
}
.right-title-letter:hover{
    transform: translate(10px, 0);
    cursor: default;
    color:pink;
}
.left-title-letter{
    transition: 0.15s;
}
.left-title-letter:hover{
    transform: translate(-10px, 0px);
    cursor:default;
    color:pink;
}
.homepage-text{
    transition: 0.2s;
}
.homepage-text:hover{
    color:pink;
    cursor: default;
}

html {
  overflow-x: hidden;
  height: 100%;
  margin: 0; 
}

#index{
    overflow:scroll;
}
.index-h1 { font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 50px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
.index-h2 { color:green; margin: 10px; font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 25px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }
.regular-courier {color:black; margin: 10px; font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace; font-size: 15px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; }

.navbar{
    background-color : SeaGreen;
}

.nav-item{
    color : white;
}

.navbar-brand{
    font-weight : bold;
    color : PaleGoldenRod;
}
.index-intro{
    text-align : center;
    font-size : 5em;
    margin : 0;
    padding : 0;
    position: relative;
    left : 50%;
    top :190px;
    transform : translate(-50%, 0%);

}
body{
    height: 100%;
    /*background-image : url("plant3.jpg");*/
    background-color:white;
    background-repeat : no-repeat;
    background-size : cover;
    padding : 0;
    margin : 0;
}
article{
    font-family: "circular";
    text-align: justify;
    position: absolute;
    width: 60vw;
    left: 20vw;
    top: 10vh;
}
@media screen and (max-width: 900px) {
    article{
        font-family: "circular";
        text-align: justify;
        position: absolute;
        width: 80vw;
        left: 10vw;
        top: 10vh;
    }
  }

.music-body{
    height : 30px;
    width : 100%;
}

.song1{
    position : relative;
    transform : translate(0%, 38%);
    height : 200px;
    width:200px;
    margin : 0px;
}
.song2{
    position : relative;
    left : 300px;
    top : -124px;
    height : 200px;
    width:200px;
    margin : 0px;
}

.navitem{
    font-size: 20px;
    display: block;
    padding: 6px;
    margin: 30px;
    padding-bottom: 0px;
    font-family: "circular";
    color: white;
    background-color: transparent;
    transition: 0.3s;

}

.navitem:hover{
    text-decoration: none;
    color: #e3e3e3;
}

#side-bar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: pink;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar-open{
    position: absolute;
    top:-20px;
    font-family: "circular"; 
    font-size:20px; 
    cursor:pointer; 
    padding: 10px; 
    padding-top: 50px;
    transition: 0.3s;
}
.sidebar-open:hover{
    color: pink;
}

.closebtn{
    font-size: 30px;
    color: white;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(330%, 80%);
    transition: 0.3s;
}

.closebtn:hover{
    text-decoration: none;
    color: #e3e3e3;
}

.homepage-title{
    position:static;
    left:0;
    width: 100vw;
    /* height: 100vh; */
    height: 0;
    transform: translate(0, 25vh);
    text-align: center;
    margin: 0;
    margin-bottom: 25vh;
    letter-spacing: 5px;
    animation: 0.5s fadeout ease-in-out 4s forwards;
}
@media screen and (max-height: 900px) {
    .homepage-title{
        position:static;
        left:0;
        width: 100vw;
        /* height: 100vh; */
        height: 0;
        transform: translate(0, 20vh);
        text-align: center;
        margin: 0;
        margin-bottom: 25vh;
        letter-spacing: 5px;
        animation: 0.5s fadeout ease-in-out 5.5s forwards;
    }
  }
    #homepage-j{
        opacity: 0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 0.3s;
        animation-fill-mode:forwards;
        animation-iteration-count: 1;
    }
    #homepage-a{
        opacity: 0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 0.5s;
        animation-fill-mode:forwards;
    }
    #homepage-s{
        opacity: 0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 0.7s;
        animation-fill-mode:forwards;
    }
    #homepage-p{
        opacity: 0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 0.9s;
        animation-fill-mode:forwards;
    }
    #homepage-e{
        opacity: 0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 1.1s;
        animation-fill-mode:forwards;
    }
    #homepage-r{
        padding-bottom: 45px;
        opacity: 0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 1.3s;
        animation-fill-mode:forwards;
    }

    #homepage-c{
        opacity:0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 2.0s;
        animation-fill-mode:forwards;
    }
    #homepage-h{
        opacity:0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 1.8s;
        animation-fill-mode:forwards;
    }
    #homepage-e-2{
        opacity:0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 1.6s;
        animation-fill-mode:forwards;
    }
    #homepage-n{
        opacity:0;
        animation: text-render;
        animation-duration: 1s;
        animation-delay: 1.4s;
        animation-fill-mode:forwards;
    }

    .homepage-text{
        opacity:0;
        animation: text-render-smaller;
        animation-duration: 2s;
        animation-delay: 3s;
        animation-fill-mode: forwards;
        overflow: hidden;
        width: 100vw;
        font-family: "circular";
        text-align: center;
        position: absolute;
        top:0;
        left:0;
        transform: translate(0, 258px);
        font-style: italic;
        font-weight: 100;
        font-size: 1rem;
    }

.subpage-title{
    opacity:0;
    animation: text-render;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    font-family: "circular";
    position: relative;
    transform: translate(15%, 40px);
}

.article-list{
    opacity:0;
    animation: text-render-media;
    animation-duration: 0.5s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    font-family: "circular";
    position: relative;
    transform: translate(15%, 60px);
}

.media{
    margin: 10px;
    width: 40vw;
    transition: 0.5s;
    text-align: justify;
}
@media screen and (max-width: 900px) {
    .media{
        margin: 10px;
        width: 70vw;
        transition: 0.5s;
        text-align: left;
    }
  }
.media:hover{
    font-size: 1.1rem;
    cursor: pointer;
    color: pink !important; 
}

.references{
    font-family: "circular";
}

.about{
    font-size: 10px;
    font-family: "circular";
    width: 55vw;
    text-align: right;
    position: relative;
    transform: translate(22.5vw, 10vh);
}

.rtcle{
    opacity:0;
    animation: text-render-article;
    animation-duration: 0.5s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

.container-fluid{
    height: 100vh;
}

.subpage-body{
    position: absolute;
    height:100vh;
    transform: translate(0, 10vh);
}

.references{
    text-align:left;
}

.project-title{
    color: white;
    background-color: transparent;
    transition: 0.3s;
    margin-top: 0.9rem; padding-left:0.2rem; padding-right:0.2rem; text-align: left;
}

.project-title:hover{
    text-decoration: none;
    color: #e3e3e3;
}

.article-description{
    font-weight: lighter;
    color: #d1d1d1;
}

.block-equation{
    display:block;
    text-align:center;
    margin-top: 10px; margin-bottom:10px;
}

.theorem-statement{
    font-weight: 600;
}