@keyframes fade-in {
    0% {opacity: 0}
    100% {opacity: 1}
}

#index-biography {
    margin: auto;

    display:block;
    max-width: 50vw;
    margin:auto;
    opacity: 0;
    animation: 1.5s fade-in ease-in-out 4.9s forwards;
    text-align: left;
    font-family:"circular";
    /* overflow-x: hidden; */
}

@media only screen and (max-width: 900px) {
    #index-biography {
        max-width: 80vw;
    }
  }

  @media only screen and (max-width: 1200px) {
    #index-biography {
        max-width: 68vw;
    }
  }

#self-intro {
    font-family: "montserrat";
}